<ion-header >
  <ion-toolbar color="ligtht">
    <ion-title>My Google Keep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<ion-card color="light">
<ion-card-header color="ligtht">
  
  <ion-card-title >
<ion-text >
  <h4>login</h4>
</ion-text>
</ion-card-title>

</ion-card-header>
<ion-card-content color="light">
 
   <form [formGroup]="elForm" (ngSubmit)="iniciar()" novalidate>
  <ion-item color="light">
    <ion-label position="floating" >Email</ion-label>
    <ion-input type="email" formControlName="correo"  autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
  </ion-item>
  <ion-item *ngIf="elForm.get('correo').errors && elForm.get('correo').dirty">
    <p color="danger" ion-text *ngIf="elForm.get('correo').hasError('email')">el valor ingresado no corresponde a un correo electronico</p>
  </ion-item>
  <ion-item *ngIf="elForm.get('correo').errors && elForm.get('correo').dirty">
    <p color="danger" ion-text *ngIf="elForm.get('correo').hasError('required')">este campo es requerido</p>
  </ion-item>
  <ion-item color="light">
    <ion-label position="floating" >password</ion-label>
    <ion-input type="password" formControlName="password"  autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
  </ion-item>
  <ion-item *ngIf="elForm.get('password').errors && elForm.get('password').dirty">
    <p color="danger" ion-text *ngIf="elForm.get('password').hasError('required')">este campo es requerido</p>
  </ion-item>

  
  <ion-button expand="full" type="submit" [disabled]="elForm.invalid">iniciar sesion</ion-button>


</form>

  

  <ion-button color="danger" expand="full" routerLink="/registro">registrarse</ion-button>

</ion-card-content>
</ion-card>
</ion-content>
